$font-sans: "Montserrat", sans-serif;
$font-display: "Oswald", monospace;
$c-black: #222;
$c-white: #fff;
$c-grey: #555;

@mixin media($bp) {
  @if $bp == tab-land {
    @media only screen and (max-width: 68.75em) {
      @content;
    }
  }
  @if $bp == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }
  @if $bp == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;

  @include media(tab-port) {
    font-size: 56.25%;
  }
  @include media(phone) {
    font-size: 50%;
  }
}
body {
  font-size: 1.4rem;
  font-family: $font-sans;
  font-weight: normal;
}

// Components
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
  background-color: $c-white;

  &__links {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__link {
    padding: 3rem 0;
    align-self: stretch;
    color: $c-black;
    text-decoration: none;
    border-top: 5px solid transparent;
    transition: border 0.3s ease;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-right: 2rem;
    }
    &:hover,
    &:focus,
    &--active {
      border-color: $c-black;
    }
    &--close {
      display: none;
      border: 2px solid $c-black;
      border-radius: 0.8rem;
      padding: 1rem;
      align-self: center;
      cursor: pointer;
      background: #fff;
      transition: background 0.3s ease;

      &:hover {
        color: $c-white;
        background-color: $c-black;
      }
    }
  }

  &__toggler {
    display: none;
  }
  &__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($c-black, 0.8);
    backdrop-filter: blur(2px);
  }

  @include media(phone) {
    &__toggler {
      display: block;
      font-size: 3rem;
      cursor: pointer;
    }
    &.active {
      .nav__overlay {
        display: block;
      }
      .nav__links {
        transform: translateX(0);
      }
    }
    &__links {
      position: fixed;
      top: 0;
      right: 0;
      width: 75%;
      height: 100vh;
      background-color: $c-white;
      flex-direction: column;
      padding: 0 5rem;
      transform: translateX(100%);
      transition: transform 0.3s ease;
    }
    &__link:not(&__link--close) {
      padding: 1rem 0;
      margin: 1rem 0;
    }
    &__link--close {
      position: absolute;
      top: 4rem;
      right: 4rem;
      display: block;
    }
  }
}
.home {
  width: 100%;
  height: 85vh;
}
.slide {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4rem;
  padding-top: 10rem;

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  & > *:not(&__img) {
    position: relative;
    z-index: 4;
  }
  &__subtitle,
  &__title {
    font-family: $font-display;
    font-weight: 200;
    font-size: 3rem;
    letter-spacing: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
  }
  &__title {
    font-size: 5rem;
    letter-spacing: 0.4rem;
    max-width: 20ch;
    font-weight: 300;
  }
  &__text {
    max-width: 75ch;
    text-align: center;
    line-height: 2.4;
    color: $c-grey;
  }

  @include media(tab-port) {
    &__subtitle {
      font-size: 2rem;
    }
    &__title {
      font-size: 4rem;
    }
  }
  @include media(phone) {
    padding: 10rem 2rem 0;
  }
}
